<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mi-ecommerce/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /mi-ecommerce/index.html [L]
</IfModule>
